@import '../../../scss/commons/vars';

$cl: 'about';
$cl2: 'footer';

.#{$cl} {
    &__content {
        margin-top: 25px;
    }
    
    &__container {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-items: center;

        @media (min-width: $mq-tablet) {
            flex-flow: row wrap;
        }

        @media (min-width: $mq-desktop) {
            flex-flow: row;
        }
    }
}

.#{$cl2} {
    &__container {
        p {
            color: black;
        }
    }
}
