@import '../../../scss/commons/vars';

$cl: 'about';

.#{$cl} {    
    &__container {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-items: center;

        @media (min-width: $mq-tablet) {
            flex-flow: row wrap;
        }

        @media (min-width: $mq-desktop) {
            flex-flow: row;
        }
    }

    &__background {
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color ease-in-out .3s;
    }
}
