@import '../../../scss/commons/vars';

$cl: 'person';

.#{$cl} {
    &__element {
        padding: 5px 15px;
        margin-bottom: 15px; 

        @media (min-width: $mq-tablet) {
            width: 45%;
        }

        @media (min-width: $mq-desktop) {
            width: 33%;
        }

        @media (min-width: $mq-laptop) {
            width: 18%;
        }
    }

    &__wrapper {}
    
    &__title {
        font-size: 35px;
        margin-bottom: 5px;
    }

    &__description {}
    &__picture {
        margin-right: 15px;
        text-align: center;

        img {
            width: 280px;
            height: auto;

            @media(min-width: $mq-wide) {
                width: 480px;
            }
        }
    }
}
