@import '../../../scss/commons/vars';

$cl: 'person';

.#{$cl} {
    &__element {
        padding: 5px 15px;
        margin-bottom: 15px; 

        @media (min-width: $mq-tablet) {
            width: 45%;
        }

        @media (min-width: $mq-desktop) {
            width: 33%;
        }

        @media (min-width: $mq-laptop) {
            width: 18%;
        }
    }

    &__title, &__email {
        margin-bottom: 15px;
        margin-top: 20px;
    }

    &__title {
        font-size: 25px;
        white-space: nowrap;
    }

    &__email {
        color: $fm-purple;
        font-weight: 300;
        font-size: 20px;
    }

    &__description {
        margin-bottom: 2px;

        span {
            font-weight: 900;
            margin-right: 5px;

            &:after {
                content: ':';
                position: absolute;
            }
        }
    }
    &__picture {
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }
}
