@import '../../../scss/commons/vars';

$cl: 'text';

.#{$cl} {   
    &__container {
        width: 100%;
        text-align: center;
        margin: 25px 0;
        border-bottom: 1px solid $fm-black-light;
    }
    
    &__copy {
        font-size: 14px;
        line-height: 30px;
        white-space: nowrap;

        @media(min-width: $mq-tablet) {
            font-size: 25px;
            line-height: 40px;
        }
    }

    &__contact {
        font-size: 25px;
        margin: 40px 0;
        color: $fm-purple;
        font-weight: bold;

        @media(min-width: $mq-tablet) {
            margin: 70px 0;
        }
    }
}
