$cl: 'logo';

.#{$cl} {
    &__container {
        z-index: 2;
        width: 100%;
        text-align: center;
    }

    &__element {
        &--primary, &--secondary {
            color: #E60081;
            cursor: pointer;
        }

        &--primary {
            // font-size: 95px;
            z-index: 10;

            // @media(min-width: $mq-small) {
            //     font-size: 150px;
            // }
        }

        &--secondary {
            font-size: 70px;
            margin-top: 15px;
            margin-bottom: 30px;

            @media(min-width: $mq-desktop) {
                font-size: 100px;
            }
        }
    }
}
