$cl: 'logo';

.#{$cl} {
    &__container {
        z-index: 2;
        width: 100%;
        text-align: center;
    }

    &__element {
        &--primary, &--secondary {
            color: #E60081;
            cursor: pointer;
        }

        &--primary {
            font-size: 95px;
            z-index: 10;

            @media(min-width: 460px) {
                font-size: 150px;
            }
        }

        &--secondary {
            font-size: 50px;
        }
    }
}
