$cl: 'logo';

.#{$cl} {
    &__container {
        z-index: 2;
        width: 100%;
        text-align: center;
    }

    &__element {
        &--primary, &--secondary {
            color: $fm-purple;
            cursor: pointer;
        }

        &--primary {
            z-index: 10;
            padding: 15px 25px;
        }

        &--secondary {
            margin: 30px 0;

            svg {
                width: 25%;
            }
        }
    }
}
