// FONTS
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');

$font-family-1: 'Rozha One', serif;
$font-family-2: 'Playfair Display', serif;

// MQ
$mq-small: 460px;
$mq-tablet: 760px;
$mq-desktop: 1010px;
$mq-laptop: 1400px; 
$mq-wide: 2490px; 
