div(class="about__container")
    article(class="file__element") 
        div(class="file__wrapper")
            h1(class="file__title") I'm
            p(class="file__description") Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cumque aut minima. Dolorem fugit, itaque perferendis et reiciendis quam dolores, odio molestias, aut ipsa similique illo odit unde at autem!
        div(class="file__picture")
            img(src="http://via.placeholder.com/250x375" alt="profile picture")
