div(id="fm-about")
//-     article(class="file__element") 
//-         div(class="file__wrapper")
//-             h1(class="file__title") I'm Claudio Morelli 
//-             p(class="file__description") Date of birth: 1985, July 30th
//-             p(class="file__description") Eyes and spectacles: I am sure I've lost my fantastic round glasses on Panella's boat
//-             p(class="file__description") Height: 182cm
//-             p(class="file__description") Main field of action: volcanoes
//-             p(class="file__description") For whom you worked: IL magazine (Il Sole 24 ORE), RCS, Mondadori, Renzo Piano G124, ADAC Reisemagazine, National Geographic Traveler, Fendi, Nestlè Purina, Focus Magazin, Woz, Monocle, Libèration, FAI Fondo Ambiente Italiano
//-             p(class="file__description") Analogue or digital: wtf?!
//-             p(class="file__description") Good at: drill, hammer, level, pressure cooker, electoral systems, Moleskine plain notebooks, cameras with few automatisms, photographic enlargers, multilayer pipes, lamps, pumping
//-             p(class="file__description") Unable to: ski and everything related to this boring stuff on mountains (except volcanoes)
//-             p(class="file__description") Spoken languages: whole Italian, tv series English, reggaeton Spanish and impolite Neapolitan
//-             p(class="file__description") Languages you’d speak: Arabic
//-             p(class="file__description") Lived places: many municipalities in Naples. One home in Milan
//-             p(class="file__description") Visited places: 
//-             p(class="file__description") Movings made: too many
//-             p(class="file__description") Favourite cartoon: can I tell you my favourite political talk-show?
//-             p(class="file__description") Colour you’d not wear at all: cyan
//-             p(class="file__description") Vehicle:  time ago, my great Honda Transalp. Now tram lines 4 or 2, but I love 10
//-             p(class="file__description") Always with: a pen to write and draw on restaurant placemats
//-             p(class="file__description") Never without: OKI (It's a painkiller medicine, I prefer drops for my migraine)
//-         div(class="file__picture")
//-             img(src="http://via.placeholder.com/250x375" alt="profile picture")
