doctype html
html
    include ../includes/commons/head.pug
    body
        include ../includes/commons/navigation.pug
        
        main
            include ../includes/home/content.pug
        
        include ../includes/commons/footer.pug
