div(class="container")
    div(class="container__background")
    video(autoplay muted loop class="video__element")
        source(src="assets/videos/video_bkg.mp4" type="video/mp4")

    div(class="logo__container")
        h1 fedia
