nav(class="menu__container")
    div(class="menu__btn--close")
        span &#10005;

    ul(class="menu__wrapper")
        li(class="menu__item")
            a(class="menu__itemLink" href="#"). 
                home

        li(class="menu__item")
            a(class="menu__itemLink" href="about.html").
                about us

        li(class="menu__item")
            a(class="menu__itemLink" href="#"). 
                contact
         